extends layout

block content
  .w3-container.w3-padding-32.w3-center
    if error
      .w3-panel.w3-pale-red.w3-border.w3-border-red.w3-round
        p #{error}
    h1 
      b O Meu Eu Digital
    p 
      img(src="/images/eu_digital.png" , style="height:450px;")
    h4
      b
        p Guarda memórias, expressa pensamentos, regista momentos.
        p Este é o teu diário digital – um espaço pessoal onde a tua vida ganha forma numa linha do tempo viva.
        p Partilha fotografias, opiniões, eventos, conquistas e tudo o que te define.
        p Porque cada momento conta, e o teu Eu merece ser lembrado.
