extends layout

block content
    .w3-container
        h6= e
        form.w3-container(method="POST")
            fieldset
                legend Novo Filme
                label Título
                input.w3-input.w3-round(type="text" name="title" required)
                label Ano
                input.w3-input.w3-round(type="number" min="1800" max="2100" name="year" required)
                label Elenco (separe atores por vírgulas)
                input.w3-input.w3-round(type="text" name="cast" required multiple)
                label Género (separe géneros por vírgulas)
                input.w3-input.w3-round(type="text" name="genres" required multiple)
            br
            button.w3-button.w3-red.w3-text-black.w3-hover-black.w3-hover-text-white(type="submit") Registar
            br
            br