extends layout 

block content
    .w3-container
        table.w3-table-all
            tr
                th Ano
                th Título
                th Elenco
                th Géneros
                th Operações
            tr
                td= f.year
                td= f.title
                td
                    ul.w3-ul 
                        each a in f.cast
                            li
                                a.w3-hover-text-red(href='/filmes/ator/' + a) #{a}
                td
                    ul.w3-ul 
                        each g in f.genres 
                            li= g
                td
                        ul.w3-ul
                            li
                                a.w3-button.w3-medium.w3-red.w3-text-black.w3-hover-black.w3-hover-text-white(href='/filmes/editar/' + f.id) &nbsp;Editar&nbsp;
                            li
                                a.w3-button.w3-medium.w3-red.w3-text-black.w3-hover-black.w3-hover-text-white(href='/filmes/apagar/' + f.id) Apagar